<!DOCTYPE html>
<html>
<head>
<title>Unordered List Exercise</title>
</head>
<body>
<ul>
    <li>Home</li>
    <li>Movies</li>
    <li>Seasons</li>
    <li>About</li>
</ul>
<%= link_to 'Home', root_path %>
</body>
</html>